* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.tribute-subject {
  background-color: #0d335d;
  color: #fff3e6;
}

.title {
  margin: 20px 0;
  padding: 20px 20px 0 20px;
  font-size: 3rem;
  font-family: "Caveat", cursive;
}

.tribute-info {
  padding-bottom: 10px;
}

.img-div {
  margin: 50px;
}

.img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.img-caption {
  margin-top: 10px;
  color: #0d335d;
}

.timeline {
  padding: 30px;
  background-color: hsl(212, 75%, 95%);
  color: #0d335d;
}

.timeline-heading {
  margin: 0 auto 20px;
  padding: 8px;
  width: 55%;
  background-color: #0d335d;
  color: #fff3e6;
  font-size: 2rem;
  font-family: "Caveat", cursive;
}

.timeline ul {
  padding: 0 15%;
  list-style-position: outside;
}

ul li {
  text-align: left;
  line-height: 1.5;
}

.link {
  margin: 20px 0;
  padding: 20px;
  background-color: #0d335d;
  color: #fff3e6;
  font-size: 1.2rem;
}

.link a {
  text-decoration: none;
  color: #fff3e6;
  border-bottom: 1px solid #fff3e6;
}

.link a:hover {
  color: gold;
  border-bottom: 1px solid gold;
}

.apple {
  width: 50px;
  height: 50px;
  background-color: tomato;
  border-radius: 20px 30px;
}

.apple::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: tomato;
  border-radius: 30px 20px;
  position: absolute;
  left: 70px;
}

.apple::before {
  content: "";
  width: 0;
  height: 20px;
  border: 4px solid brown;
  position: absolute;
  top: 180px;
  left: 80px;
}

.leaf {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 12px 2px 12px 2px;
  position: absolute;
  left: 88px;
  top: 175px;
  transform: rotate(10deg);
}